<!-- Conector con index.html -->
{% extends "index.html" %}

<!-- <title> -->
{% block title %} Pagina Principal {% endblock %}

<!--Carga archivos CSS de la carpeta static-->
{% load static %}

<!--Carga de archivos CSS especificos-->
{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

<!-- <body> -->
{% block content %} 
    <section id="carrusel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-slide="carousel">
            <div class="carousel-inner">
                <div class="texto-fijo position-absolute translate-middle text-white text-center">
                    <h2>Fundacion CIMA</h2>
                </div>
                <div class="carousel-item active">
                    <img id="imgcarrusel" src="{% static 'images/Carrusel1.jpg' %}" class="d-block w-100" alt="Carrusel1">
                </div>
                <div class="carousel-item">
                    <img id="imgcarrusel" src="{% static 'images/Carrusel2.jpg' %}" class="d-block w-100" alt="Carrusel2">
                </div>
                <div class="carousel-item">
                    <img id="imgcarrusel" src="{% static 'images/Carrusel3.jpg' %}" class="d-block w-100" alt="Carrusel3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section>
        <div id="SegmentoQuienes">
            <h1>¿Quienes somos?</h1>
        </div>
        <p id="QuienesSomos">Lorem ipsum dolor sit amet consectetur adipiscing, elit praesent placerat fermentum consequat nisi accumsan, purus ultricies class sapien nascetur. Mi torquent venenatis facilisi 
        molestie cubilia lacus, vehicula vulputate magnis sociis massa tristique, felis curae posuere porta justo. Rutrum habitant nostra platea magnis placerat nulla lobortis, sollicitudin 
        morbi in at convallis eget phasellus eu, taciti leo neque etiam nisi cum.</p>
    </section>
{% endblock %}

<!-- <script> -->
{% block extra_js %}{% endblock %}
