/*Carrusel*/

.carousel{
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
}

@media (max-width: 992px){
    .carousel{
        margin-top: 10%;
        margin-bottom: 5%;
    }
}

@media (max-width: 576px){
    .carousel{
        margin-top: 15%;
        margin-bottom: 5%;
    }
}

.texto-fijo {
    z-index: 10;           /* asegurarse que esté por encima de las imágenes */
    margin-top: 5em;
    margin-left: 13em;
    color: white;           /* color del texto */
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7); /* opcional para mejor legibilidad */
    letter-spacing: 0.05em;
}

@media (max-width: 576px){
    .texto-fijo {
        margin-left: 10em;
    }
}

button i {
    z-index: 10;
    color: #447EF5;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    margin-bottom: 1em;
}

.carousel-control-prev {
    left: 10px;          /* más cerca del borde izquierdo */
    top: 45%;            /* más arriba que el centro */
    width: 50px;         /* opcional: ancho del botón */
    height: 50px;        /* opcional: alto del botón */
}

.carousel-control-next {
    right: 10px;         /* más cerca del borde derecho */
    top: 45%;            /* más arriba que el centro */
    width: 50px;
    height: 50px;
}

#imgcarrusel{
    border-radius: 2em;
    object-fit: cover;
    width: auto;
    height: 20em;
    opacity: 80%;
}

@media (max-width: 576px){
    #imgcarrusel{
        height: 12em;
    }
}

/*Franja AZUL*/

.SeparacionAzul{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    background-color: #447EF5;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

@media (max-width: 992px){
    .SeparacionAzul{
        padding-top: 6%;
        padding-bottom: 6%;
        margin-bottom: 3%;
    }
}

/*Quienes Somos*/

#QuienesSomos{
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5%;
}

@media (max-width: 576px){
    #QuienesSomos{
        margin-top: 5%;
        padding-left: 8%;
        padding-right: 8%;
        margin-bottom: 16%;
    }
}

div h1 {
    font-weight: bold;
    letter-spacing: 0.4em;
}

#imgmision{
    border-radius: 2em;
}

/*Sedes*/

.TextoSede {
    padding-bottom: 2%;
    font-size: 2.5em;
    letter-spacing: 0.06em;
    justify-self: center;
}

@media (max-width: 576px){
    .TextoSede {
        font-size: 1.5em;
        padding-top: 1%;
        padding-bottom: 4%;
    }
}
