/* Hace que el footer quede pegado al final de la página */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* El contenido principal ocupa todo el espacio disponible */
main {
  flex: 1;
}

.navbar {
    background-color: #e1e3ee;
    min-height: 80px; /* Cambiar height fijo por min-height */
    display: flex;
    align-items: center; /* centra verticalmente el contenido */
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    font-weight: 500;
    color:#4747f5;
    font-size: 24px;
    transition: 0.3s color;
}

/* Mantener el logo dentro del navbar y centrado verticalmente */
.navbar-brand img {
    height: 80px;          /* ajusta el tamaño que prefieras */
    width: auto;
    object-fit: contain;   /* evita deformaciones */
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 80px;
  }
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 0;
    height: 2px;
    background-color: #4747f5;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link:active::before{
        width: 100%;
        visibility: visible;
    }
}

footer {
    background-color: #e1e3ee;
}

a:hover {
    color:#4747f5 !important;
}

i {
    font-size: 25px;
}

#LogoFooter {
    height: 90px; 
    width: auto;
}

a {
    text-decoration: none;
    font-size: 17px;
}

p {
    font-size: 17px;
}



