<!-- Conector con index.html -->
{% extends "index.html" %}

<!-- <title> -->
{% block title %} Contacto {% endblock %}

<!--Carga archivos CSS de la carpeta static-->
{% load static %}

<!--Carga archivos CSS especificos -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contacto.css' %}">
{% endblock %}


<!-- <body> -->
{% block content %}



<!-- 🔹 SECCIÓN CONTACTANOS -->
<section class="contact-section">
    <div class="contact-header">
        <h2>Contactanos</h2>
    </div>
    

    <div class="contact-form-container">
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" placeholder="last name">
                </div>
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="correoelectronico@...">
            </div>

            <div class="form-group">
                <label for="mensaje">Tu mensaje</label>
                <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu pregunta o mensaje"></textarea>
            </div>

            <button type="submit" class="btn-enviar">Enviar</button>
        </form>
    </div>
</section>

<!--  SECCIÓN UBICACIONES -->
<section class="ubicaciones-section">
  <div class="ubicaciones-header">
    <h2>Ubicaciones</h2>
  </div>

  <div class="ubicaciones-container">
    <div class="ubicacion">
      <h5>Sede Central</h5>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14488.33694591009!2d-65.41961188253649!3d-24.792568926804766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc311b15b0433%3A0xb2964dbf0f0b31e6!2sCIMA(Centro%20de%20Intruccion%20y%20Mejora%20Academica)!5e0!3m2!1ses!2sar!4v1761950313023!5m2!1ses!2sar"
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="ubicacion">
      <h5>Segunda Sede</h5>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.901396879954!2d-65.4179423!3d-24.7988297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc37adf3b0e59%3A0x5f9b3c9fbf249ec1!2sCentro%20vecinal%20y%20cultural%20de%20villa%20cristina!5e0!3m2!1ses!2sar!4v1761950773210!5m2!1ses!2sar"
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</section>

<!-- SECCIÓN SEGUINOS EN NUESTRAS REDES -->
<section class="redes-section">
  <div class="redes-header">
    <h2>Seguinos en nuestras redes</h2>
  </div>

  <div class="redes-card">
    <div class="redes-lista">
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=61573420596326" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i> Facebook</a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@cima_salta" target="_blank"><i class="fa-brands fa-tiktok" style="color: #000000;"></i> TikTok</a>
        </li>
        <li>
          <a href="https://www.instagram.com/cima_salta/" target="_blank"><i class="fa-brands fa-instagram" style="color: #c13584;"></i> Instagram</a>
        </li>
        <li>
          <a href="https://whatsapp.com/channel/0029VbB86zn1dAw3k45THT11" target="_blank"><i class="fa-brands fa-whatsapp" style="color: #25d366;"></i> WhatsApp</a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}

<!-- <script> -->
{% block extra_js %}{% endblock %}